# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.MVRP4U.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Owner\Downloads\test\MVRP4U\.idea\.idea.MVRP4U\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
